.header {
    background: url('../img/Rectangle.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 666px;
    h1 {
        font-size: 2rem;
        color: white;
        line-height: 1.5;
    }
}