.header {
    background: url('../img/Rectangle.png') no-repeat center -177px fixed;
    background-size: cover;
    min-height: 321px;
    h1 {
        font-size: 2rem;
        color: white;
        line-height: 1.5;
        margin-top: 50px;
    }
}